@import "fonts";
@import "vendor";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    rgba(104, 191, 255, 1) 100%,
    rgba(104, 191, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.weather {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.weather_card {
  max-width: 270px;
  margin-right: 10px;
  border-radius: 10px;
}

.weather_card-header_img img {
  max-width: 270px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.weather_card-header {
  position: relative;
  bottom: -4px;
}

.weather_card-header_city {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: #313e5c;
  font-weight: 700;
  max-width: 230px;
}

.weather_card-header_desc {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 18px;
  color: #313e5c;
}

.weather_card-temperature {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 44px;
  color: #313e5c;
  font-weight: 700;
}

.weather_card-header_img {
  overflow: hidden;
  transition: 0.3s;
}
.weather_card-footer_parametr-icon img {
  max-width: 30px;
  padding: 0 15px 30px 0px;
}

.weather_card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 5px;
  font-size: 14px;
  background: #fff;
  max-height: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.weather_card-footer_parametr {
  display: flex;

  width: 50%;
}

.weather_card-footer_parametr-title {
  display: flex;
  flex-direction: column;
}

.weather_card-footer_parametr span:nth-child(1) {
  opacity: 0.7;
}

.weather_title {
  font-size: 46px;
  text-align: center;
  font-weight: 600;
  padding: 50px 0;
  color: #fff;
}

#search {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 18px;
  padding: 5px;
  width: 315px;
  border: none;
  outline: none;
}

#search-btn {
  background: #6f7985;
  color: #fff;
  border: none;
  padding: 7px 7px 5px 10px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  left: -5px;
  cursor: pointer;
  outline: none;
}

#search-btn:hover {
  opacity: 0.8;
}

.weather_btn-wrapper {
  margin-bottom: 35px;
}

.weather_card-close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.weather_card:hover .weather_card-close {
  opacity: 0.8;
  transition: 0.3s;
}

.removing {
  transform: scale(0);
  transition: 0.3s;
}

.error {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  color: #d54747;
  font-weight: 700;
}

.modal_content {
  width: 900px;
  height: 505px;
  background: #fff;
  position: fixed;
  margin: 0 auto;
  top: 25%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: none;
}

.modal_content-close {
  padding: 3px;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.show {
  display: block;
}

.weekly_cards-item {
  margin: 10px 0;
}

.weekly_cards {
  padding: 10px;
}

.modal_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.weekly_cards {
  text-align: center;
}

.weekly_cards-item_img {
  max-width: 32px;
}
.weekly_cards-item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weekly_cards {
  border-radius: 10px;
  background: #68bfff;
  margin-bottom: 10px;
  width: 152px;
}

.weekly_cards-item.desc img {
  max-width: 50px;
}
